header{
  background-color: #970747;
  color:white;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
}
.form{
  margin:  30px auto;
  width: 70%;
  padding: 10px;
  border: 1px solid #970747;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input{
  width: 100%;
  padding: 12px 20px 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  
}
label{
  font-size: 1.2em;
}
.button-field {
  width:100%;
  border-radius:5px;
  background-color: #970747;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1em;
}
h2{
  text-align: center;
  padding: 5px;
  color: #970747;
  font-size: 1.8em;
}


